* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: 20px 10px;
  padding-left: 20vw;
  border-bottom: 1px solid #919191;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 20px 10px;
    padding-left: 20px;
    margin-top: 20px;
    border-top: 1px solid #919191;
  }
  

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #212121;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.hello_box {
 width: 100%;
 height: 75vh;
 background-color: #212121;
 background-image: url(https://cdn.culture.ru/c/75570.jpg);
 position: relative;
}

.hello_box:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .5);
}

.hello_info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hello_h1 {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 0;
}
.hello_p {
    color: #dbdbdb;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin-top: 1vw;
}

.main {
    margin: auto;
    width: 60vw;
    background-color: #ffffff;
   }

.main_container {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    padding-top: 5vh;
   }

   .wrap-logo, header {
    display: none;
   }


.fullh_block {
    min-height: 22px;
    width: 99%;
    background: #f2f2f2;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.3s;
    border: 1px solid #dfdfdf;
    text-align: justify;
}

.yamaps {
    background: url(../res/yamap_block_img_gor.png) no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    height: 280px;
    padding-bottom: 0;
}


.yamaps_h1 {
    color: #000;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 2vw;
}
.yamaps_p {
    color: #000;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.yamaps_button {
    width: 120px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 10px;
    background: #0f0f0f1e;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}

.yamaps_button:hover {
    cursor: pointer;
}

.block_duo {
    min-height: 22px;
    height: 120px;
    width: 99%;
    margin-right: 10%;
    background: #f2f2f2;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 15px;
    text-align: left;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.3s;
    border: 1px solid #dfdfdf;
}

.duo_h1 {
    color: #000;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    text-align: left;
}
.duo_p {
    color: #000;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.sch_his {
    background-position: left center;
    background-image: url(../res/sch.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 12px;
}
.siv {
    background-position: left center;
    background-image: url(../res/siv.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
}

.site {
    background-position: left center;
    background-image: url(../res/site.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;

}
.inst {
    background-position: left center;
    background-image: url(../res/inst.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
}
.block_three {
    min-height: 60px;
    width: 99%;
    margin-right: 10%;
    background: #f2f2f2;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 20px;

    text-align: left;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    transition: all 0.3s;
    border: 1px solid #dfdfdf;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 800;
    font-family: 'Roboto Slab', serif;
 }

 .street{
    width: 20vw;
 }
 .fullh_block img {
    border-radius: 15px;
 }

 .wrap-logo_old {
    display: flex;
    align-items: center;
   }

   .gallery img {
    width: 33%;
    height: 220px;
    object-fit: cover;   }

   .gallery a {
    color: #fff;
   }
 
.gallery {
    margin-top: 15px;
}

.places {
margin-left: 25px;
font-weight: 500;
}

.pano_block iframe {
    border-radius: 20px;
    width: 100%;
    height: 600px;
}

.pano_block * {
    border: 0;
}

.copyright {
    text-align: right;
    font-style: italic;
}

 @media only screen and (max-width: 480px) {
   
    .main {
        margin: auto;
        width: 95vw;
        background-color: #ffffff;
       }
    
    .main_container {
        width: 100%;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        padding-top: 5vh;
       }

       header {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #ffffff;
        padding: 40px;
        padding-left: 20vw;
      }
      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #ffffff;
        padding: 20px 10px;
        padding-left: 5vw;
        margin-top: 20px;
        border-top: 1px solid #919191;
      }
      
    
    .wrap-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
     
    }
    .logo {
        width: 227px;
        height: 39px;
    }

    .hello_h1 {
        color: #000;
        font-family: 'Roboto Slab', serif;
        text-align: center;
        margin: 0;
        font-size: 6vw;
        hyphens: none;
    }

    tbody {
        display:flex;
      }
      tr {
        display:flex;
        flex-direction: column;
        flex-wrap:      wrap;
      }

      .duo_h1 {
        font-size: 7vw;
        margin-top: 15px;
    }

    
   .gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;   
    }
    .wrap-logo, header {
        display: none;
       }
    
    
 }
 